# macOS system files
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm project settings
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/
Workshop/


# Logs
*.log

# Untracking files 
test.py 
test02.py 

# PyPI release files 
pyproject.toml 
jarvisplot.egg-info/